*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    direction:rtl;
    min-height:100vh;

    background:#0f172a;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;
}

.container{
    width:100%;
    max-width:850px;
}

.card{
    background:#fff;
    border-radius:30px;
    padding:40px;
    box-shadow:
    0 20px 60px rgba(0,0,0,.08);
}

.header{
    text-align:center;
    margin-bottom:35px;
}

.icon-box{
    width:80px;
    height:80px;
    margin:auto;

    border-radius:50%;

    background:
    linear-gradient(135deg,#5d6d7e,#34495e);

    display:flex;
    align-items:center;
    justify-content:center;

    color:white;
    font-size:35px;

    margin-bottom:20px;
}

.header h1{
    color:#243447;
    margin-bottom:10px;
}

.header p{
    color:#7b8794;
}

.form-group{
    margin-bottom:25px;
}

.form-group label{
    display:block;
    margin-bottom:10px;
    font-weight:600;
    color:#243447;
}

.form-group label i{
    margin-left:5px;
}

select,
textarea,
input[type=file]{

    width:100%;
    border:none;
    outline:none;

    padding:16px;

    background:#f6f8fb;

    border-radius:15px;

    font-size:15px;

    transition:.3s;
}

select:focus,
textarea:focus{
    background:white;
    box-shadow:0 0 0 3px rgba(52,73,94,.12);
}

textarea{
    resize:none;
}

.counter{
    margin-top:8px;
    text-align:left;
    color:#888;
    font-size:13px;
}

#fileName{
    margin-top:10px;
    color:#34495e;
    font-weight:600;
}

.submit-btn{
    width:100%;

    border:none;

    padding:16px;

    border-radius:15px;

    cursor:pointer;

    font-size:16px;
    font-weight:bold;

    color:white;

    background:
    linear-gradient(
        135deg,
        #5d6d7e,
        #34495e
    );

    transition:.3s;
}

.submit-btn:hover{
    transform:translateY(-3px);
}

.back-btn{
    display:block;

    margin-top:18px;

    text-align:center;

    text-decoration:none;

    color:#5d6d7e;

    font-weight:600;
}

.back-btn:hover{
    color:#34495e;
}

@media(max-width:768px){

.card{
    padding:25px;
}

.header h1{
    font-size:24px;
}

}